*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #EDE6DC;
}

.header{
    width: 100%;
    height: 80px;
    display: block; 
    background-color: #101010;  
    display: flex;  
}

.inner_header{
    height: 100%;
    width: 50%;
    display: block;
    margin: 0 auto; 
    background-color: #101010; 
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h2{
    background-color: #101010;
    color: #FA7682;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}

.navigation{
    float: right;
    height: 80px;
}

.navigation a{
    background-color: #101010;
    height: 80px;
    display:table;
    float: left;
    padding: 0px 20px;

}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    background-color: #101010;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#about:hover{
    color: #FA7682;
}

#services:hover{
    color: #FA7682;
}

#portfolio:hover{
    color: #FA7682;
}

#contact:hover{
    color: #FA7682;
}

.hero {
    margin: 8%;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

.hero_img{
    float: right;
}

.hero h1{
    color: #101010;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    padding-right: 8%;
    padding-left: 8%;

}

.herotext p{
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 600px;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 20px;

}

.portfolios h2{
    color: #101010;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    text-align: center;
}


@media only screen and (min-width: 768px){

.portfoliosGrid{
    /* display: flex; */
    /* flex: wrap; */
    margin: 65px;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "card1 card2 card3"
    ;
    /* display: grid;
    grid-template-columns:500px 500px 500px;
    margin: 65px;
    align-items: center; */
    }
}

.card1 {
    grid-area: card1;
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 420px;
    height: 200px;
    /* flex: 30%; */
}

 .card2 {
    grid-area: card2;
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 420px;
    height: 200px;

}

.card3 {
    grid-area: card3;
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 420px;
    height: 200px;

 }
@media(max-width: 1200px){
    .card1, .card2, .card3{
        flex: 30%;
    }
}


.skills{
    margin: 8%;
}

.skills_text{
    padding-left: 60%;
    padding-right: 8%;
}

.skills h2{
    color: #101010;
    /* height: 100%; */
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    text-align: right;
    
}

.skills p{
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 600px;
    padding-top: 20px;
}

.skills ul{
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 600px;
    padding-top: 20px;
}


.recent_work h2{
    color: #101010;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    text-align: center;
}


/* .project_cards{
display: flex;
flex: wrap;
margin: 65px;
justify-content: space-between;
} */


@media only screen and (min-width: 768px){

    .workGrid{
        /* display: flex; */
        /* flex: wrap; */
        margin: 65px;
        /* justify-content: space-between; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "project1 project2 project3"
        ;
        /* display: grid;
        grid-template-columns:500px 500px 500px;
        margin: 65px;
        align-items: center; */
        }
    }

.project1 {
grid-area: project1;
border-radius: 25px;
background: white;
padding: 20px; 
width: 420px;
height: 310px;
}

.project2 {
grid-area: project2;
border-radius: 25px;
background: white;
padding: 20px; 
width: 420px;
height: 310px;
}

.project3 {
grid-area: project3;
border-radius: 25px;
background: white;
padding: 20px; 
width: 420px;
height: 310px;
}
@media(max-width: 1200px){
    .card1, .card2, .card3{
        flex: 30%;
    }
}

.footer img{
    margin: 8%;
    height: 100%;
    padding-left: 32%;
}

.footer h2{
    color: #101010;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.footer p{
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 10px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* for mobile phones */
    [class*="col-"]{
        width: 100%;
    }
    .h1{
        font-size: 40px;   
    }
    .h2{
        font-size: 24px;
    }
    .p{
        font-size: 12px;
    }
}

[class*="col-"] {
    float: left;
    padding: 8px;    
}
@media only screen and (min-width: 769px){
    .h1{
        font-size: 60px;   
    }
    .h2{
        font-size: 32px;
    }
    .p{
        font-size: 16px;
    }
}